In [19]:
#Libraries import
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv("data.csv")

In [33]:
#Removing unnecessary columns
df = df.drop(['mode' , 'danceability_%' , 'cover_url' , 'valence_%' , 'energy_%' , 'acousticness_%' , 'instrumentalness_%' ,  'liveness_%' , 'speechiness_%' , 'released_year' ,  'released_month' , 'released_day'] , axis = 1)

In [34]:
df.head(10) #Output first 10 lines

,track_name,artist(s)_name,artist_count,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,in_shazam_charts,bpm,key
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,553,147,141381703.0,43,263,45,10,826,125,B
1,LALA,Myke Towers,1,1474,48,133716286.0,48,126,58,14,382,92,C#
2,vampire,Olivia Rodrigo,1,1397,113,140003974.0,94,207,91,14,949,138,F
3,Cruel Summer,Taylor Swift,1,7858,100,800840817.0,116,207,125,12,548,170,A
4,WHERE SHE GOES,Bad Bunny,1,3133,50,303236322.0,84,133,87,15,425,144,A
5,Sprinter,"Dave, Central Cee",2,2186,91,183706234.0,67,213,88,17,946,141,C#
6,Ella Baila Sola,"Eslabon Armado, Peso Pluma",2,3090,50,725980112.0,34,222,43,13,418,148,F
7,Columbia,Quevedo,1,714,43,58149378.0,25,89,30,13,194,100,F
8,fukumean,Gunna,1,1096,83,95217315.0,60,210,48,11,953,130,C#
9,La Bebe - Remix,"Peso Pluma, Yng Lvcas",2,2953,44,553634067.0,49,110,66,13,339,170,D

# Data Description:
  - **Track name:** this column responsible for the names of the tracks in the dataset.
  - **Artist(s) name:** column which display artist(-s) name of the songs.
  - **Artist count:** this column shows how many artist(-s) are involved in the song.
  - **In spotify playlists:** number of playlists that contain a song.
  - **In spotify charts:** the presence of a track in Spotify charts (e.g. top 50, top 100, etc.).
  - **Streams:** total number of plays of the track on Spotify.
  - **In apple playlists:** number of playlists on Apple Music that contain a track.
  - **In apple charts:** the presence of a track in Apple charts.
  - **In deezer playlists:** number of playlists on Deezer that contain a track.
  - **In deezer charts:** the presence of a track in Deezer charts.
  - **In shazam charts:** the presence of a track in Shazam charts.

In [35]:
df.info() #General dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   in_spotify_playlists  953 non-null    int64
 4   in_spotify_charts     953 non-null    int64
 5   streams               952 non-null    float64
 6   in_apple_playlists    953 non-null    int64
 7   in_apple_charts       953 non-null    int64
 8   in_deezer_playlists   953 non-null    object
 9   in_deezer_charts      953 non-null    int64
 10  in_shazam_charts      903 non-null    object
 11  bpm                   953 non-null    int64
 12  key                   858 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 96.9+ KB

In [36]:
df.describe()

,artist_count,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_charts,bpm
count,953.000000,953.000000,953.000000,9.520000e+02,953.000000,953.000000,953.000000,953.000000
mean,1.556139,5200.124869,12.009444,5.141374e+08,67.812172,51.908709,2.666317,122.540399
std,0.893044,7897.608990,19.575992,5.668569e+08,86.441493,50.630241,6.035599,28.057802
min,1.000000,31.000000,0.000000,2.762000e+03,0.000000,0.000000,0.000000,65.000000
25%,1.000000,875.000000,0.000000,1.416362e+08,13.000000,7.000000,0.000000,100.000000
50%,1.000000,2224.000000,3.000000,2.905309e+08,34.000000,38.000000,0.000000,121.000000
75%,2.000000,5542.000000,16.000000,6.738690e+08,88.000000,87.000000,2.000000,140.000000
max,8.000000,52898.000000,147.000000,3.703895e+09,672.000000,275.000000,58.000000,206.000000

In [26]:
(df.isnull().sum()) #Checking for missing values

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
cover_url                0
dtype: int64

In [37]:
print(df['track_name'].duplicated().sum())

10

In [25]:
df[df.duplicated()] #Cheking duplicates in dataset (0 rows = 0 duplicates)

Empty DataFrame
Columns: [track_name, artist(s)_name, artist_count, released_year, released_month, released_day, in_spotify_playlists, in_spotify_charts, streams, in_apple_playlists, in_apple_charts, in_deezer_playlists, in_deezer_charts, in_shazam_charts, bpm, key, mode, danceability_%, valence_%, energy_%, acousticness_%, instrumentalness_%, liveness_%, speechiness_%, cover_url]
Index: []

[0 rows x 25 columns]

In [27]:
#Output of the 10 most popular artists in dataset
df['artist(s)_name'].value_counts()

artist(s)_name
Taylor Swift                 34
The Weeknd                   22
Bad Bunny                    19
SZA                          19
Harry Styles                 17
                             ..
Karol G, Ovy On The Drums     1
Coolio, L.V.                  1
Kordhell                      1
Kenia OS                      1
Feid, Sech, Jhayco            1
Name: count, Length: 645, dtype: int64

In [28]:
#General number of unique artirts
df['artist(s)_name'].nunique()

645

In [29]:
#Finding the most popular song in dataset
df['streams'] = pd.to_numeric(df['streams'], errors='coerce') #Convert the 'streams' column to numeric values, as it contained object (string) values
df.loc[df['streams'].idxmax(), ['track_name' , 'streams']]

track_name    Blinding Lights
streams          3703895074.0
Name: 55, dtype: object

In [30]:
#Finding the most unpopular song in dataset
df.loc[df['streams'].idxmin(), ['track_name' ,'streams']]

track_name    Que Vuelvas
streams            2762.0
Name: 123, dtype: object

In [31]:
#Output of the 10  most popular songs in dataset
df.sort_values(by='streams' , ascending = False).head(10)[['track_name' ,'streams']]

                                        track_name       streams
55                                 Blinding Lights  3.703895e+09
179                                   Shape of You  3.562544e+09
86                               Someone You Loved  2.887242e+09
620                                   Dance Monkey  2.864792e+09
41   Sunflower - Spider-Man: Into the Spider-Verse  2.808097e+09
162                                      One Dance  2.713922e+09
84                       STAY (with Justin Bieber)  2.665344e+09
140                                       Believer  2.594040e+09
725                                         Closer  2.591224e+09
48                                         Starboy  2.565530e+09